<div class="form">
<h1 class="title">Добавление книги в базу данных</h1>
  <%= form_for :book, url: '/book' do |f| %>
    <input type="text" name="book[name]" id="name" placeholder="Название" class="input" required/><br />
    <input type="text" name="book[writer]" id="writer" placeholder="Автор" class="input" required/><br />
    <input type="text" name="book[description]" id="description" placeholder="Корни контрольных слов через пробел" class="input" required><br />
   <input type="text" name="book[link]" id="link" placeholder="Ссылка" class="input" required/><br />
    <input type="submit" name="commit" value="Добавить" class = "button"/><br /><br />
    <a href="/logout" class="base_link">Выйти</a>
  <% end %>
</div>