<div class="form">
<h1 class="title">Опишите, о чём Вы хотите прочитать</h1>
<h3 class="label">Я хочу прочитать о: </h3><br />
<%= form_tag '/main' do %>
  <textarea type="text" name="text" class="textarea"></textarea><br /><br />
  <input type="submit" name="commit" value="Найти" class = "button" data-disable-with="Попытка входа"/><br /><br />
<% end %>
<a href="/logout" class="base_link">Выйти</a>
</div>
<div class="form">
  <p><b>А знаете ли Вы, что...</b></p>
  <p id="interestingFact"></p>
</div>