<div class="form">
  <h1 class="title">Результат поиска:</h1>
  <% if @result.length == 1 %>
    <p>
    <%= @result[0].split('.')[0] %>
    </p>
    <p>
      <%= @result[0].split('.')[1] %>
    </p>
  <% else %>
    <%0.upto(1) do |i|%>
      <p><%= @result[i] %></p>
   <% end %>
    <p><%= link_to 'Приступить к чтению на ЛитРес', @result[2] %></p>
  <% end %>
<a href="/main" class="base_link">Вернуться к поиску</a>
</div>