<div class="form">
<h1 class="title">Вход</h1>
  <%= form_tag '/login' do %>
    <input type="text" name="username" id="username" placeholder="e-mail" class="input" required/>
    <input type="password" name="password" id="password" placeholder="Пароль" class="input" required/><br>
   <input type="submit" name="commit" value="Войти" class = "button" data-disable-with="Попытка входа"/><br /><br />
   <a href="/signup" class="base_link">Регистрация</a>
  <% end %>
</div>