<div class="form">
<h1 class="title">Регистрация</h1>
<%= form_for :user, url: '/user' do |f| %>
  <input type="text" name="user[name]" id="user_name" placeholder="Имя пользователя" class="input" pattern="[a-zA-Z0-9._%+-]+" required/>
  <input type="text" name="user[email]" id="user_email" placeholder="e-mail" class="input" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
  <input type="password" name="user[password]" id="user_password" placeholder="Пароль" class="input" pattern="[a-zA-Z0-9._%+-]+" required/>
  <input type="password" name="user[password_confirmation]" id="user_password_confirmation" placeholder="Подтверждение пароля" class="input" required/>
  <input type="submit" name="commit" value="Создать" class = "button" data-disable-with="Попытка регистрации" class="input"/><br /><br />
  <a href="/login" class="base_link">Назад</a>
<% end %>
</div>