body {
    margin: 0;
}
.title {
    font-family: "DejaVu Sans Light";
    color: #2E2F30;
    text-align: center;
}

.label {
    font-family: 'Caveat', cursive;
    color: #2E2F30;
    font-size: 32px;
    text-align: center;
}

.textarea {
    width: 600px;
    margin-left: calc(50% - 300px);
    font-family: 'Caveat', cursive;
}

.button {
    width: 150px;
    height: 50px;
    margin-left: calc(50% - 75px);
    font-family: "DejaVu Sans Light";
    text-align: center;
}

.base_link {
    color: deeppink;
    text-align: center;
    font-size: 25px;
    font-family: "DejaVu Sans Light";
    margin-left: 20px
}

p {
    text-align: center;
    font-size: 20px;
    font-family: "DejaVu Sans Light";
}