.input {
    width: 300px;
    margin-left: calc(50% - 150px);
    margin-bottom: 30px;
    font-family: "DejaVu Sans Light";
}

.form {
    width: 700px;
    margin: 100px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background: bisque;
    border-radius: 20px;
}