<!DOCTYPE html>
<html>
  <head>
    <title>ExamWorkRoR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Caveat&display=swap" rel="stylesheet">
  </head>

  <body onpageshow="getInterestingFact()">
      <%= yield %>
  </body>
</html>
